page-login {
  .login_wrap{
    padding: 0px;
    margin: 0px;
    height: 100%;
  }
  .login_head{
    width: 100%;
    height: 40%;
  }
  .login_head div{
    width: 100%;
    height: 100%;
    background-color: #3399CC;
  }
  .login_head h2{
    margin-top: 33%;
    color:#f4f4f4;
    text-align: center;
  }


  .login_content{
    margin: 0 auto;
    height: 60%;
  }
  .login_content form{
    margin: 0 auto;
    padding: 0px;
  }
  .login_content_3{
    color: red;
  }
  .login_content_4{
    margin-left: 6%;
    margin-top: 7%;
    margin-bottom: 12%;
  }
  .login_content_4_1{
    float:left;
  }
  .login_content_4_2{
    float: right;
  }

}
