page-bp {
  #canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .btn_visited {
    border: 2px dashed red;
  }
  .scroll_title {
    height: 115px;
    border: 1px solid #ddd;
    border-style: none none solid none;
  }
  .div_title {
    width: 1000px;
    padding-top: 15px;
    padding-left: 15px;
  }
  .choose_item {
    display: inline-block;
    margin-right: 25px;
  }
  .choose_item button {
    border-radius: 35px;
    background-color: white;
  }
  .img_item {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 35px;
  }
  .relation_div {
    font-size: 14px;
    text-align: center;
    margin-top: 5px;
  }
}
