<!--
  Generated template for the AmendPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar color="primary">
    <ion-title>修改密码</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (submit)="amendPassword()" #amendForm="ngForm">
    <ion-item>
      <ion-label item-left>电话号码</ion-label>
      <ion-input id="phone"
                 type="text"
                 [(ngModel)]="user.phone"
                 pattern="^((13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,5-9]))\\d{8}$"
                 minlength="11" maxlength="11" required="true" name="phone"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label item-left>密<div class="amend_content_2">隐藏</div>码</ion-label>
      <ion-input id="password"
                 type="password"
                 [(ngModel)]="user.password"
                 minlength="6"
                 #password="ngModel"
                 required="true" name="password" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label item-left>确认密码</ion-label>
      <ion-input id="confirmPassword"
                 type="password"
                 minlength="6"
                 required="true"
                 name="password"
                 #confirmPassword ></ion-input>
    </ion-item>


    <ion-item no-lines
              class="amend_content_4"
              *ngIf="(confirmPassword.value!=password.value)&&(confirmPassword.touched||password.touched)">
      <div>两次输入的密码不一致</div>
    </ion-item>

    <ion-item no-lines
              class="alert_message"
              *ngIf="infoMessage!=null">
      <div>{{infoMessage}}</div>
    </ion-item>

    <div padding>
      <button type="submit"
              ion-button
              round
              full
              color="primary"
              [disabled]="amendForm.form.invalid">确认修改</button>
    </div>
  </form>


</ion-content>
