page-home {
  .home_wrap{
    height: 100%;
  }
  .home_head{
    width: 100%;
    height: 33%;
    padding: 0px;
    background:url("../../assets/imgs/home.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }


  .home_content{
    padding: 0px;
  }
  .home_content ion-col{
    height: 125px;
    text-align: center;
    border: 1px solid #ddd;
  }
  .home_content ion-col img{
    height: 70px;
    width: 70px;
    border-radius:60px;
    margin-top: 10px;
  }
  .home_content ion-col div{
    margin-top: 5px;
  }
}
