page-home {
  .home_img{
    width: 100%;
    height: 192px;
    padding: 0px;
    background:url("../../assets/imgs/home.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
  .grid_home{
    padding: 0px;
  }
  .grid_home ion-col{
    height: 125px;
    text-align: center;
    border: 1px solid #ddd;
  }
  .grid_home ion-col img{
    height: 70px;
    width: 70px;
    border-radius:60px;
    margin-top: 10px;
  }
  .grid_home ion-col div{
    margin-top: 5px;
  }
}
