page-info {
  .info_wrap {
    height: 100%;
    margin: 0px;
  }
  .info_head {
    width: 100%;
    height: 40%;
    background: url("../assets/imgs/menu_background.png");
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
  }
  .info_head img {
    height: 100px;
    width: 100px;
    border-radius: 60px;
    margin-top: 20%;
  }
  .info_head div {
    margin-top: 3%;
    color: white;
  }

  .back_icon {
    position: absolute;
    left: 17px;
    top: 10px;
    font-size: 32px;
    padding: 0px;
    color: white;
    height: 35px;
  }



  .info_content input {
    text-align: right;
  }

  .info_content_1 {
    text-align: right;
  }
  .info_content_1 button {
    width: 65px;
    height: 42px;
    font-size: 20px;
  }

  .info_content_head{
    padding-left: 50%
  }


  .info_bottom {
    margin-right: 5px;
    color: red;
    float: left;
  }
}
