page-news {
  .news_head {
    padding-bottom: 10px;
  }
  .new_content_right {
    text-align: right;
  }
  .new_content_1{
    height: 88%;
  }
  .new_content_1_1{
    padding-left: 0px;
  }
  .new_content_2 {
    margin-top: 5px;
  }
  .new_content_3 {
    padding-left: 10px;
    margin-top: 5px;
  }
  .font_size {
    font-size: 14px;
  }
}
