<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>消息</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown"
                           pullingText="Pull to refresh"
                           refreshingSpinner="circles"
                           refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-segment [(ngModel)]="informationOption" class="news_head">
    <ion-segment-button value="sysInfo">
      系统消息
    </ion-segment-button>
    <ion-segment-button value="doctorInfo" >
      医嘱
    </ion-segment-button>
  </ion-segment>

  <ion-scroll scrollY="true"  class="new_content_1">
    <div [ngSwitch]="informationOption">

    <ion-list *ngSwitchCase="'sysInfo'" >
      <ion-item *ngFor="let systemInformation of systemInformations"  class="new_content_1_1" (click)="readingSysInfo(systemInformation)">
        <ion-thumbnail item-start>
          <img [src]="systemInformation['patient']['picturePath']">
        </ion-thumbnail>

        <div class="font_size">
          <div>{{systemInformation["patient"]["relationShip"]}}</div>
          <div  class="new_content_2">{{systemInformation["title"]}}</div>
        </div>

        <div item-end   class="new_content_right font_size">
          <div>{{systemInformation["timeTransform"]}}</div>
          <div class="new_content_3">
            <ion-icon icon-end name="notifications" [color]="systemInformation['isRead']==0?'danger':'primary'"></ion-icon>
          </div>
        </div>
      </ion-item>
    </ion-list>

    <ion-list  *ngSwitchCase="'doctorInfo'" >
      <ion-item *ngFor="let doctorInformation of doctorInformaions"  class="new_content_1_1" (click)="readingSysInfo(doctorInformation)">
        <ion-thumbnail item-start>
          <img [src]="doctorInformation['patient']['picturePath']">
        </ion-thumbnail>

        <div class="font_size">
          <div>{{doctorInformation["patient"]["relationShip"]}}</div>
          <div  class="new_content_2">{{doctorInformation["title"]}}</div>
        </div>

        <div item-end   class="new_content_right font_size">
          <div>{{doctorInformation["timeTransform"]}}</div>
          <div  class="new_content_3">
            <ion-icon icon-end name="notifications" [color]="doctorInformation['isRead']==0?'danger':'primary'"></ion-icon>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>
  </ion-scroll>

</ion-content>
