page-menus {
  .menu_head {
    height: 40%;
    background-image: url("../assets/imgs/menu_background.png");
    color: white;
  }
  .menu_head img {
    height: 90px;
    width: 90px;
  }
  .menu_head_2_2{
    margin-top: 8px;
  }
}
